.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# Design artifacts
_paper
_bmad

# AI Agent files
.claude
.codex
.cursor
.vscode
.agent
.gemini
